:root{
    --titi:'Titillium Web', sans-serif;
    --color-VerdeOscuro: #113B49;
    --color-Verde: #2CD364;
    --rojo: #DD421A;
    --verde-claro:#136416;
    --blanco:#fff;
    --gris: #F2F2F2;
    --none:none;
    --x10:10;
    --x100:100;
    --x1000:1000;
    --Lato: 'Lato', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --thumbBG: #90A4AE;
    --scrollbarBG: #CFD8DC;

}

/* * {  outline: red 1px solid; } */
html{scroll-behavior: smooth;}
body{font-family: var(--Lato);}
p,h1,h2,h3,h4,span{margin: 0;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-transition: 0.4s ease-in-out;
}

/* gotoup */
.go-top-container{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    z-index: -1;
}
.go-top-button{
    width: 0rem;
    height: 0rem;
    background-color: var(--verde-claro);
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transition: .5s;
    transform: translate(-50%, -50%);
    z-index: -1;
    position: relative;
}
.go-top-button i{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%)scale(0);
    color: var(--blanco);
    transform: .5s;
}
.show{
    z-index: 5;
}
.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 60px;
    height: 60px;
    z-index: 6;
}

.show i{
    transform: translate(-50%, -50%)scale(1);
}
@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 80px;
        height: 80px;
    }
    100%{
        width: 60px;
        height: 60px;
    }
}

.headband{
    width: 100%;
    height: 30px;
    background-color: var(--color-VerdeOscuro);
    position: relative;
}
.headband p{
    text-align: center;
    font-size: 18px;
    color: var(--color-Verde);
    padding-top: 3px;
}
.headband span{
    color: var(--blanco);
}

.nav-content{
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
    -webkit-box-shadow: 0px 4px 17px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 4px 17px 5px rgba(0,0,0,0.6);
    box-shadow: 0px 4px 17px 5px rgba(0,0,0,0.6);
}
.image-logo{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    max-width: 120px;
    width: 100%;
}

.links{
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.links__to{
    margin-top: auto;
    margin-bottom: auto;
}
.links__to a{
    text-decoration: none;
    color: var(--color-VerdeOscuro);
}

.fxd{
    position: fixed;
    z-index: 3;
    background: var(--gris);
    top: 0;
    transition: .5s;
    height: 80px;
}
.swiper-container {
    width: 100%;
    height: 350px;
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background: var(--blanco) !important;
    opacity: .7 !important;
} 
.swiper-pagination-bullet-active {
    opacity: 1 !important;
    width: 15px !important;
    height: 15px !important;
    background-color: var(--blanco) !important;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.con-sli{
    width: 100%;
    height: 100%;
}
img{
    width: 100%;
}
.section__services{
    background-color: var(--gris);
    width: 100%;
}
.description{
    text-align: center;
    padding-top: 40px;
    padding-left: 20%;
    padding-right: 20%;
}

.description p{
font-size: 32px;
}
.description span{
    font-weight: bold;
}
.description p:nth-child(2){
    color: #676363;
    font-size: 18px;
}
.items__services{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contain__form{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}
.services__Prod{
    flex: 1 0 calc(50% - 2rem);
    padding: 50px 90px 30px 90px;
    text-align: center;
}
.bg-white{
    background-color: white;
}
.who{
    padding-bottom: 30px;
}
.card__we{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.we_are div h2{
    text-align: center;
    margin: 0;
    padding: 15px 0;
    text-transform: uppercase;

}
.we_are div p{
    text-align: left;
    margin: 0;
    padding: 15px 40px;
    letter-spacing: .25px;
    line-height: 1.5;
}
.pd-25{padding-bottom: 25px;}
.pd-45{padding-bottom: 45px;}
.card__we .we_are{
    position: relative;
    width: 30%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    overflow: hidden;
}
.card__we .we_are::before{
    content: '';
    position: absolute ;
    left: 0;
    bottom: calc(-100% + 4px);
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    transition: 0.5s ease-in-out;
}
.card__we .we_are:hover::before{
    bottom: 0;
}
.card__we .we_are:nth-child(1)::before{
    background-color: var(--color-VerdeOscuro);
}
.card__we .we_are:nth-child(2)::before{
    background-color: var(--verde-claro);
}
.card__we .we_are:nth-child(3)::before{
    background-color: var(--rojo);
}
.card__we .we_are div{
    position: relative;
    z-index: 2;
}
.card__we .we_are:hover div h2,
.card__we .we_are:hover div p{
    color: var(--blanco)    ;
}

.contain__one{
    width: 35%;
    background-color: var(--color-VerdeOscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--blanco);
    font-size: 24px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
}
.contain__two{
    width: 65%;
    border: 1px solid #707070;
    border-radius:0 25px 25px 0 ;
    color: #113B49;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    position: relative;
}
.pd-a40{
    padding-bottom: 40px;
    padding-top: 40px;
}
body::-webkit-scrollbar {
    width: 15px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--color-VerdeOscuro) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
  .contain__form{
      display: flex;
  }
.right__contain{
    text-align: center;
    font-size: 24px;   
}
.first_inputs,
.btn__inputs{
    display: flex;
}
.first__contain,
.two__contain,
.three_inputs{
    display: flex;
    flex-direction: column;
}
.label{
    padding-bottom: 10px;
}
.input-f{
    outline: none;
    border-radius: 15px;
    border: 1px solid #113B49;
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 80%;
}
.three_inputs .input-f,
.two_inputs .input-f{
    width: 90%;
}
.first__contain,
.two__contain{
    flex: .5;
}
.btn__inputs{
    justify-content: space-between;
    width: 90%;
}
.three_inputs .input-f{
    height: 200px;
}
.btn-clean{
    background-color: var(--rojo);
}
.btn-send{
    background-color: var(--verde-claro);
}
.btn{
    color: var(--blanco);
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    outline: none;
    text-decoration: none;
    padding: 10px 45px ;
}
.btn__inputs{
    margin-bottom: 20px;
}
.right__contain p{
    margin: 10px 0;
}
.footer{
    width: 100%;
    height: 70px;
    background-color: var(--color-VerdeOscuro);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer div p{
    color: var(--blanco);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.logo-mobile{
    display: none;
}
.toggle{
    display: none;
    position: absolute;
    right: 10px;
    top: 26px;
    padding: 5px;
    cursor: pointer;
}
@media screen and (max-width:1200px){
    .services__Prod {
        padding: 30px 70px 10px 70px;
    }
}
@media screen and (max-width:1150px){
    .swiper-container {
        height: 100% ;
    }
}
@media screen and (max-width:1050px){
    .services__Prod {
        padding: 20px 40px 10px 40px;
    }
    .we_are div p {
        padding: 15px 20px;
    }
    .links{
        width: 80%;
    }
    .image-logo{
        width: 20%;
    }
    .description {
        padding-left: 10%;
        padding-right: 10%;
    }
    .logo-mobile{
        display: block;
    }
    .logo-web{
        display: none;
    }
    .section__services {
        padding-bottom: 30px;
    }
}
@media screen and (max-width: 900px){
    .toggle{
        display: block;
    }
    .we_are div p {
        padding: 12px 10px;
        line-height: 1.3;
    }
    .card__we{
        width: 90%;
    }
    .three_inputs .input-f {
        height: 150px;
    }
    .nav-content{
        display: block;
        z-index: 7;
    }
    .links{
        display: none;
        width: 100%;
        background-color: rgba(0, 0, 0, .5);
        height: 100vh;
        position: relative;
        top: -5px;
    }
    .links__to{
        width: 80%;
        background-color: var(--blanco);
        height: 15%;
        position: relative;
        display: flex;
        align-items: center;
        border-top: 1px solid #707070;
    }
    .links__to a{
        margin-left: 50px;
        padding-right: 50%;
        font-size: 20px;
    }
    .active{
        display: block;
    }
    .d-none{
        display: none;
    }
}

@media screen and (max-width: 800px){
    .services__Prod {
        padding: 20px 20px 10px 20px;
    }
    .description {
        padding-top: 20px;
    }
    .btn{
        padding: 10px 25px;
    }
    .headband{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .card__we .we_are {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
    .we_are div p {
        padding: 25px 50px;
        line-height: 1.5;
    }
    .contain__form {
        flex-direction: column;
    }
    .contain__one {
        width: 100%;
        height: 100px;
    }
    .contain__two {
        width: 100%;
        border-radius: 0 0 25px 25px;
    }
    .first_inputs {
        flex-direction: column;
    }
    .first_inputs .input-f{
        width: 90%;
    }
    .services__Prod {
        flex: 1 0 calc(100% - 2rem);
    }
}
@media screen and (max-width: 600px){
    .btn__inputs {
        flex-direction: column;
    }
    .btns {
        display: flex;
        height: 70px;
        text-align: center;
        align-items: center;
        justify-content: center;
    
    }
    .btn {
        padding: 10px 76px;
    }
}
@media screen and (max-width: 420px){
    .btn {
        padding: 10px 45px;
    }
    .we_are div p {
        padding: 20px 25px;
    }
    img.logo-mobile {
        margin-left: 15px;
    }
    .description p {
        font-size: 26px;
    }
    .links__to a {
        margin-left: 50px;
        padding-right: 35%;
        font-size: 18px;
        font-weight: bold;
    }
}
